.autocomplete-wrapper div,
input {
  width: 100%;
}

.autocomplete-wrapper {
  width: 300px;
  color: #333;
  border-radius: 8px;
  border: 1px solid #e0e0e5;
  padding: 0px;
  overflow-x: hidden;
}

.active-autocomplete-wrapper {
  border: 1px solid rgb(44, 106, 238);
  width: 300px;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  padding: 0px;
  overflow-x: hidden;

}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.active-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #e0e0e5;
}

.form-input {
  width: 280px;
  background: #fff;
  border: none;
  outline: none;
  color: #333;
  padding: 10px;
}

.active-form-input {
  width: 280px;
  background: #e0e0e5;
  border: none;
  outline: none;
  color: #333;
  padding: 10px;
}

.form-input::placeholder {
  color: #898989;
}

.options {
  width: 280px;
  color: #333;
  padding: 6px 14px;
}

.options:hover {
  background-color: rgba(	224, 224, 229, 0.5);
}